.DS_Store
.Trash/

.bash_profile
.config/
.conda/
.cache/
.idlerc/
.jupyter/
.ipython/
.ipynb_checkpoints/

.idea/
.vscode/
.eclipse/
PyCharm CE.app/

__pycache__/
*.pyc
*.pyo
*.pyd
env/
node_modules/

../Applications/
../Downloads/
../Library/
../Movies/
../Music/
../Pictures/
../Public/
../PycharmProjects/
../Spoon-Knife/
../SpoonKnife/
../Textbooks/
../UTM.app/
../WorkPermitApplication/
../csc413-project/
../pytorch/
../resume-ruihang-zhang.pdf
../send_to_ruihang/
../us/
../word-level-mini-gpt/
../xu-lab/
../../tensorflow-1-public/
../../vmtk/
../../vir/
